server/.nodered/.flows.json.backup
[
    {
        "id": "d226b144c9884f5c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "133003c439760d95",
        "type": "tab",
        "label": "nodered-wasmer Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9edf03dd056a5e9f",
        "type": "group",
        "z": "d226b144c9884f5c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "b2994709d54ff320",
            "241ad61d4cb776e0",
            "9ed06f518d3acb04",
            "2f22cabbf387f704"
        ],
        "x": 34,
        "y": 619,
        "w": 652,
        "h": 82
    },
    {
        "id": "dafca64c74d10e0c",
        "type": "group",
        "z": "d226b144c9884f5c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cb2949c60ed45863",
            "1198e337d58c8b48",
            "c80f9534df759c20",
            "804e8df9b9d2e89f",
            "86b2d3d369521856",
            "d1ab39ea8282c99f",
            "210ae9daf17076a4",
            "e99880b92ea5b914",
            "d14f314f98c40c2d"
        ],
        "x": 34,
        "y": 379,
        "w": 492,
        "h": 202
    },
    {
        "id": "b0734e6efd6a5d13",
        "type": "urlAllowlist",
        "name": "wapm.io https",
        "mode": "and",
        "flags": "gmi",
        "pttns": "^https:\\/\\/\r\nwapm\\.io"
    },
    {
        "id": "cb20093a9c91192e",
        "type": "urlAllowlist",
        "name": "wasmer-js",
        "mode": "and",
        "flags": "gmi",
        "pttns": "^https:\\/\\/wasmer-js.pages.dev\\/"
    },
    {
        "id": "b2994709d54ff320",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "g": "9edf03dd056a5e9f",
        "name": "SQLite",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SQLITE",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "9ed06f518d3acb04"
            ]
        ]
    },
    {
        "id": "241ad61d4cb776e0",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "g": "9edf03dd056a5e9f",
        "name": "",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/sqlite/sqlite/0.2.2/build/sqlite.wasm",
        "maxHours": 72,
        "functionName": "sqlite3",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 450,
        "y": 660,
        "wires": [
            [
                "2f22cabbf387f704"
            ]
        ]
    },
    {
        "id": "9ed06f518d3acb04",
        "type": "function",
        "z": "d226b144c9884f5c",
        "g": "9edf03dd056a5e9f",
        "name": "set wasmer",
        "func": "msg.wasmer = {};\nmsg.wasmer.stdin = `CREATE TABLE COMPANY(\n  ID INT PRIMARY KEY     NOT NULL,\n    NAME           TEXT    NOT NULL,\n    AGE            INT     NOT NULL,\n    ADDRESS        CHAR(50),\n    SALARY         REAL\n);\n\n    INSERT INTO COMPANY(ID, NAME, AGE, ADDRESS, SALARY)\nVALUES(1, 'Paul', 32, 'California', 20000.00);\n\n    INSERT INTO COMPANY(ID, NAME, AGE, ADDRESS, SALARY)\nVALUES(2, 'Allen', 25, 'Texas', 15000.00);\n\n    INSERT INTO COMPANY(ID, NAME, AGE, ADDRESS, SALARY)\nVALUES(3, 'Teddy', 23, 'Norway', 20000.00);\n\n    INSERT INTO COMPANY(ID, NAME, AGE, ADDRESS, SALARY)\nVALUES(4, 'Mark', 25, 'Rich-Mond ', 65000.00);\n\n    SELECT * FROM COMPANY;`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "241ad61d4cb776e0"
            ]
        ]
    },
    {
        "id": "2f22cabbf387f704",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "g": "9edf03dd056a5e9f",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer.stdout",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "f26b9d77e4fcbeb0",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "bc9ab6b7bc1e4c8c"
            ]
        ]
    },
    {
        "id": "bc9ab6b7bc1e4c8c",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/demo.wasm",
        "maxHours": 72,
        "functionName": "demo",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 290,
        "y": 100,
        "wires": [
            [
                "beda83bebf1815a8"
            ]
        ]
    },
    {
        "id": "9cdde19bbd59eb85",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "0120e9d7096e8764"
            ]
        ]
    },
    {
        "id": "0120e9d7096e8764",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/envvar.wasm",
        "maxHours": 72,
        "functionName": "envvar",
        "env": "{\"ENV1\":\"one\",\"ENV2\":\"TWO\",\"DOG\":\"WOOF\",\"DOG_TYPE\":\"LABRADOR\"}",
        "dirs": "{}",
        "args": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "beda83bebf1815a8"
            ]
        ]
    },
    {
        "id": "5c7cff7c8d706e89",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "76adbc4acf0d8b3b"
            ]
        ]
    },
    {
        "id": "76adbc4acf0d8b3b",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/mapdir.wasm",
        "maxHours": 72,
        "functionName": "mapdir",
        "stdin": "",
        "env": "{}",
        "dirs": "{\"/a\":\"\",\"/b\":\"\",\"/file\":\"fileContents\"}",
        "args": [],
        "x": 290,
        "y": 220,
        "wires": [
            [
                "4eb3a3bda92192b2"
            ]
        ]
    },
    {
        "id": "e8d5da2313b102f9",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "817548f822129697"
            ]
        ]
    },
    {
        "id": "817548f822129697",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/pipe_reverse.wasm",
        "maxHours": 72,
        "functionName": "pipe_reverse",
        "stdin": "Hello world!",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "beda83bebf1815a8"
            ]
        ]
    },
    {
        "id": "beda83bebf1815a8",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer.stdout",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d2804cd747b9171",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1096a9d9bf7bcd0",
        "type": "comment",
        "z": "d226b144c9884f5c",
        "name": "Where do these tests come from?",
        "info": "They're from the Wasmer-JS test suite.\n\nhttps://github.com/jackcarey/wasmer-js/blob/main/tests/index.spec.js",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "4eb3a3bda92192b2",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "name": "wasmer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "cb2949c60ed45863",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "Cowsay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "COW",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "c80f9534df759c20"
            ]
        ]
    },
    {
        "id": "1198e337d58c8b48",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer.stdout",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 460,
        "wires": []
    },
    {
        "id": "c80f9534df759c20",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowsay",
        "env": "{\"ENV1\":\"hello world\"}",
        "dirs": "{}",
        "args": [
            "moo"
        ],
        "x": 280,
        "y": 420,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    },
    {
        "id": "804e8df9b9d2e89f",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowthink",
        "env": "{}",
        "args": [
            "hhhmmmm"
        ],
        "x": 280,
        "y": 460,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    },
    {
        "id": "86b2d3d369521856",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "tux",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowsay",
        "env": "{}",
        "dirs": "{}",
        "args": [
            "-f",
            "tux",
            "\"Honk honk!\""
        ],
        "x": 270,
        "y": 500,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    },
    {
        "id": "d1ab39ea8282c99f",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "Cowsay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "COW",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "804e8df9b9d2e89f"
            ]
        ]
    },
    {
        "id": "210ae9daf17076a4",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "Cowsay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "COW",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "86b2d3d369521856"
            ]
        ]
    },
    {
        "id": "e99880b92ea5b914",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "greedy",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowsay",
        "env": "{}",
        "dirs": "",
        "args": [
            "-b",
            "Borg"
        ],
        "x": 270,
        "y": 540,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    },
    {
        "id": "d14f314f98c40c2d",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "g": "dafca64c74d10e0c",
        "name": "Cowsay",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "COW",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "e99880b92ea5b914"
            ]
        ]
    },
    {
        "id": "693ef6d96a399f8e",
        "type": "comment",
        "z": "d226b144c9884f5c",
        "name": "external functions not yet implemented",
        "info": "The features required for module imports\nand external functions haven't been implemented yet.\nThe tests for these can be seen on:\n\nhttps://github.com/jackcarey/wasmer-js/blob/main/tests/index.spec.js",
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "08535bc79a10d281",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/test.wasm",
        "maxHours": 72,
        "functionName": "test",
        "stdin": "",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "1d2804cd747b9171"
            ]
        ]
    },
    {
        "id": "5046f757c74b9507",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "08535bc79a10d281"
            ]
        ]
    },
    {
        "id": "934b7209325e2a48",
        "type": "inject",
        "z": "133003c439760d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "c45792a03579023d"
            ]
        ]
    },
    {
        "id": "c45792a03579023d",
        "type": "wasmer",
        "z": "133003c439760d95",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/demo.wasm",
        "maxHours": 72,
        "functionName": "demo",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 250,
        "y": 40,
        "wires": [
            [
                "e900503182390afb"
            ]
        ]
    },
    {
        "id": "4f75ac69e9295bcb",
        "type": "inject",
        "z": "133003c439760d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "85169c18711cd456"
            ]
        ]
    },
    {
        "id": "85169c18711cd456",
        "type": "wasmer",
        "z": "133003c439760d95",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/envvar.wasm",
        "maxHours": 72,
        "functionName": "envvar",
        "env": "{\"ENV1\":\"one\",\"ENV2\":\"TWO\",\"DOG\":\"WOOF\",\"DOG_TYPE\":\"LABRADOR\"}",
        "dirs": "{}",
        "args": [],
        "x": 250,
        "y": 80,
        "wires": [
            [
                "e900503182390afb"
            ]
        ]
    },
    {
        "id": "234baa9942ee8613",
        "type": "inject",
        "z": "133003c439760d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "572654faad6376db"
            ]
        ]
    },
    {
        "id": "572654faad6376db",
        "type": "wasmer",
        "z": "133003c439760d95",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/mapdir.wasm",
        "maxHours": 72,
        "functionName": "mapdir",
        "stdin": "",
        "env": "{}",
        "dirs": "{\"/a\":\"\",\"/b\":\"\",\"/file\":\"fileContents\"}",
        "args": [],
        "x": 250,
        "y": 160,
        "wires": [
            [
                "0b5801ca54f5c0d6"
            ]
        ]
    },
    {
        "id": "13caaf3e2449291d",
        "type": "inject",
        "z": "133003c439760d95",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "c3863094134224a6"
            ]
        ]
    },
    {
        "id": "c3863094134224a6",
        "type": "wasmer",
        "z": "133003c439760d95",
        "name": "",
        "allowlist": "cb20093a9c91192e",
        "url": "https://wasmer-js.pages.dev/pipe_reverse.wasm",
        "maxHours": 72,
        "functionName": "pipe_reverse",
        "stdin": "Hello world!",
        "env": "{}",
        "dirs": "{}",
        "args": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "e900503182390afb"
            ]
        ]
    },
    {
        "id": "e900503182390afb",
        "type": "debug",
        "z": "133003c439760d95",
        "name": "stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer.stdout",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "0b5801ca54f5c0d6",
        "type": "debug",
        "z": "133003c439760d95",
        "name": "wasmer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "wasmer",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 160,
        "wires": []
    }
]