server/.nodered/flows.json
[
    {
        "id": "d226b144c9884f5c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b0734e6efd6a5d13",
        "type": "urlAllowlist",
        "name": "wapm.io https",
        "mode": "and",
        "flags": "gmi",
        "pttns": "^https:\\/\\/\r\nwapm\\.io"
    },
    {
        "id": "cb2949c60ed45863",
        "type": "inject",
        "z": "d226b144c9884f5c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "c80f9534df759c20",
                "804e8df9b9d2e89f"
            ]
        ]
    },
    {
        "id": "1198e337d58c8b48",
        "type": "debug",
        "z": "d226b144c9884f5c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "wasmer.stdout",
        "statusType": "auto",
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "c80f9534df759c20",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowsay",
        "env": "{}",
        "args": [
            "hello world"
        ],
        "x": 260,
        "y": 40,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    },
    {
        "id": "804e8df9b9d2e89f",
        "type": "wasmer",
        "z": "d226b144c9884f5c",
        "name": "",
        "allowlist": "b0734e6efd6a5d13",
        "url": "https://registry-cdn.wapm.io/contents/syrusakbary/cowsay/0.3.0/target/wasm32-wasi/release/cowsay.wasm",
        "maxHours": 72,
        "functionName": "cowthink",
        "env": "{}",
        "args": [
            "world says hi"
        ],
        "x": 260,
        "y": 100,
        "wires": [
            [
                "1198e337d58c8b48"
            ]
        ]
    }
]